* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.ps1 text eol=crlf
*.sh text eol=lf
*.py text eol=lf
*.go text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.example text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
