NODE_CODE=milling-workshop-01
WORKSHOP_TYPE=milling
CENTRAL_API_URL=http://YOUR_HOST_PUBLIC_OR_TUNNEL_IP:8080
OGAS_API_TOKEN=replace_me
LOCAL_DB_PATH=/data/node.db
HEARTBEAT_SEC=5
EMERGENCY_AFTER_TICKS=18
SIMULATION_MODE=normal
SIMULATION_ENGINE=simpy
SIMULATION_SPEED=1
SIMULATION_RANDOM_SEED=20260613
OGAS_RUN_ID=RUN-EDGE-20260613-001
OGAS_SCENARIO_ID=SCN-MILLING-SIMPY-SINGLE-001
NODE_DEPLOYMENT_MODE=cloud
